@font-face {
    font-family: 'sansita';
    src: url(../assets/font/Sansita/Sansita-Bold.ttf);
}
@font-face {
    font-family: "jomolhari";
    src: url(../assets/font/Jomolhari/Jomolhari-Regular.ttf);
}